/node_modules
/public/hot
/public/**/*.map
/public/storage
storage/app
bootstrap/cache/*
/storage/medialibrary
/storage/*.key
/vendor
/Modules
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
.editorconfig
_ide_helper*
/.eslintrc.js
/yarn.lock
storage/app/*
.env
